<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Especialistas</title>
    <!--CSS-->
 	<link rel="stylesheet" type="text/css" href="../css/style-home.css">
     <!--BOOTSTRAP-->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!--FONTS-->
     <link href="https://fonts.googleapis.com/css?family=Merienda|Source+Sans+Pro:300|Pacifico|PT+Sans+Narrow|Bungee+Shade|Josefin+Sans" rel="stylesheet">
      <!--ICONO FONTS-->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body class="cuerpo">
<!--MENU-->

<nav class="navbar navbar-expand-lg  elemento-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fas fa-caret-down navbar-light color-hamburguesa"></span>
      </button>
        <h1 class="logo">Mom to mom </h1>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link sec" href="home.html">Home <span class="sr-only">(current)</span></a>
            </li>
           
            <!--MENU DESPLEGABLE-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle sec" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Herramientas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Especialistas</a>
                    <a class="dropdown-item" href="#">Articulos</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle sec" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Usuario
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Perfil</a>
                  <a class="dropdown-item" href="#">Salir</a>
              </div>
          </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Escribe tu duda" aria-label="Search">
            <button class="btn my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
      </nav>

      <!--CUERPO-->

    <section class="container">
        <article class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 caja-datos">
                <div class="titulo-especialista"> Mariana Leñero /PEDIATRA</div>
                <div>
                    <img src="../images/email (1).png" class="img-especialistas" alt="editar">comunidad@activibox.com
                    <br>
                    <img src="../images/telefono.png" class="img-especialistas" alt="editar">310-844-7527
                    <br>
                    <img src="../images/mundo.png" class="img-especialistas" alt="editar"> Colonia Nápoles, Benito Juárez, 03810, Ciudad de México.
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 caja-datos margin-left">
                <div class="titulo-especialista">Karina Trapaga /PSICÓLOGO</div>
                <div>
                    <img src="../images/email (1).png" class="img-especialistas" alt="editar">psicoaprende@psicoaprende.com
                    <br>
                    <img src="../images/telefono.png" class="img-especialistas" alt="editar">5589-2731
                    <br>
                    <img src="../images/mundo.png" class="img-especialistas" alt="editar"> Colonia Nápoles, Benito Juárez, 03810, Ciudad de México.
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 caja-datos margin-left">
                <div class="titulo-especialista">Adriana Medina /TERAPEUTA</div>
                <div>
                    <img src="../images/email (1).png" class="img-especialistas" alt="editar">http://www.centroluperca.com/
                    <br>
                    <img src="../images/telefono.png" class="img-especialistas" alt="editar">709 886 86
                    <br>
                    <img src="../images/mundo.png" class="img-especialistas" alt="editar"> Alfonso Reyes 176 Col. Hipodromo Condesa
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 caja-datos">
                <div class="titulo-especialista">Gina López /NUTRIOLOGO</div>
                <div>
                    <img src="../images/email (1).png" class="img-especialistas" alt="editar">nutriologasdemexico@gmail.com
                    <br>
                    <img src="../images/telefono.png" class="img-especialistas" alt="editar">55 6379 7030
                    <br>
                    <img src="../images/mundo.png" class="img-especialistas" alt="editar"> Editar Privada Relox 20 int. 1B Col. Chimalistac 01070 México, D.F.
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 caja-datos margin-left">
                <div class="titulo-especialista">Martha Chávez /PSICÓLOGO</div>
                <div>
                    <img src="../images/email (1).png" class="img-especialistas" alt="editar">info@marthaaliciachavez.com

                    <br>
                    <img src="../images/telefono.png" class="img-especialistas" alt="editar">6395 0922
                    <br>
                    <img src="../images/mundo.png" class="img-especialistas" alt="editar"> Colonia Nápoles, Benito Juárez, 03810, Ciudad de México.
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 caja-datos margin-left">
                <div class="titulo-especialista">Claudia Sicilia /PSICÓLOGO</div>
                <div>
                    <img src="../images/email (1).png" class="img-especialistas" alt="editar">claudia@oquixpi.com.mx
                    <br>
                    <img src="../images/telefono.png" class="img-especialistas" alt="editar">5661-6511
                    <br>
                    <img src="../images/mundo.png" class="img-especialistas" alt="editar"> 	Oquixpi, Olivo # 4 - 301, Col. Florida, México, D. F., 01030
                </div>
            </div>
        </article>
    </section>
      
      

      <!--MOVIL-->
      <section class="container movil">
        <article class="row">
              <!--seccion donde se escribe comentario-->
              <div class="col-sm-12 secciones">
                    <input type="text" class="comentario" placeholder="Escribe un comentario..">
                    <button type="button" class="btn btn-outline-warning publicar">Editar</button>
                    <button type="button" class="btn btn-outline-warning publicar">Publicar</button>     
              </div>
                <!--COMENTARIOS-->
              <div class="col-sm-12 comentario-publicado">
                    <div class="comentario">Como cargo a mi bebe?</div>
                    <!--BOTONES-->
                    <div class="all-botones">
                        <button type="button" class="btn boton-comentario">
                            <img src="../images/editar1.png" class="img-comentario" alt="editar">Editar
                        </button>
                        <button type="button" class="btn boton-comentario">
                            <img src="../images/cubo-de-la-basura1.png" class="img-comentario" alt="editar">Borrar
                        </button>
                        <button type="button" class="btn boton-comentario">
                            <img src="../images/corazon-en-boceto1.png" class="img-comentario" alt="editar">Like
                        </button>
                        <button type="button" class="btn boton-comentario">
                            <img src="../images/corazon1.png" class="img-comentario" alt="editar">Dislike
                        </button>
                    </div>
              </div>
        </article>
      </section>

      






      





    <!--BOOTSTRAP-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>